@model IEnumerable<StaffDirectory.Models.PersonalInformation>

@{
    ViewData["Title"] = "Personal Information";
}

<h1>Personal Info</h1>

<p>
    <a asp-action="Create">Add New Info</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.AcNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InformationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InformationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InformationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
