@model IEnumerable<StaffDirectory.Models.Students>

@{
    ViewData["Title"] = "Avondale Students";
}

<h1>Student</h1>

<p>
    <a asp-action="Create">Add New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstmidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstmidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
