@model IEnumerable<StaffDirectory.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstmidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffStatuse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstmidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffStatuse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRoom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
