@model IEnumerable<StaffDirectory.Models.Staff>

@{
    ViewData["Title"] = "Staff Members";
}

<h1>Staff Members</h1>

<p>
    <a asp-action="Create">Add New Staff</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action="Index">Back to Full list</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeRoom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeRoom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaffID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaffID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
