@model IEnumerable<StaffDirectory.Models.Subjects>

@{
    ViewData["Title"] = "Subjects";
}

<h1>Course</h1>

<p>
    <a asp-action="Create">Add Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjactName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjactName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubjectsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
