@model StaffDirectory.Models.TimeTable

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TimeTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourthPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourthPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FifthPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FifthPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.AcNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TimeTableID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
